@import 'main_menu.css';
@import 'buttons.css';
body {
	margin:0;
	padding:0;
	font-family: sans-serif;
/*	background:blue;  */
	background: linear-gradient(top, #D7D7D7,#BED7D7);
}

table {
	text-align:center;
}
td {
	width:100px;
	height:20px;
	border:1px solid #000;
}

.shtrih {
	background-color:#9BB8B8;
}
.empty {
}
/*Дата занятия*/
.date {
	color:#0E0BB8;
}
/*Тема занятия*/
.theme {

}
/*Комментарий*/
.comment {
	color:#66CC33;
}
tr:hover {
	background-color:#B5B5B5;
}


.formula {
	border: 1px solid #00BFFF;
}
.nb {
	font-size:50px;
	color:blue;
}

.homeread {
	color:red;
	font-size: 20px;
}